<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="AdventuresDB" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=AdventureWorksDW2019;Integrated Security=true;Trusted_Connection=True;"
   providerName="System.Data.SqlClient" />
  <add name="CLIENT.Properties.Settings.AdventureWorksDW2019ConnectionString"
   connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=AdventureWorksDW2019;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>